.error-message {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: rgb(251, 167, 70);
  text-align: center;
  color: black;
  text-transform: capitalize;
}